python_version >= '3.8'
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
folium==0.10.1
geographiclib==1.50
geopy==1.21.0
jieba3k==0.35.1
Jinja2==2.11.1
location==0.0.7
requests==2.22.0
urllib3==1.25.8
